@media screen and (max-width: 600px){
    .banner{
        background-repeat: no-repeat;
    }
    .banner__input__container{
        width: 300px;
        padding: 16px;
        gap: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner h1{
        font-size: 20px;
        margin-bottom: 2px;
    }
    .banner p{
        margin-bottom: 5px;
        width: 304px;
        font-size: 14px;
    }
    .banner__input{
        width: 80%;
        height: 45px;
        padding: 2px 4px;
        border-radius: 4px;
        text-decoration: none;
        border: none;
    }

    .banner__input__container button{
        width: 80%;
        height: 45px;
        padding: 2px 4px;
        border-radius: 4px;
        text-decoration: none;
        border: none;
    
    
    }

    /* popular tours */
    .popular__tour__container{
        flex-direction: column;
        margin: 0 auto;
    }
    .popular__tour__content{
        width: 100%;
    }
    .popular__tour__container img{
        width: 100%;
        height: 100%;
    }

    /* destination section */
    .img__58, .img__679, .img__1110{
        flex-direction: column;
    }
    img{
        height: 176px;
        border-radius: 16px;
    }
    .destination__content{
        margin-bottom: 16px;
    }
    .destination__content h1{
        margin-bottom: 10px;
    }

    /* why chosen section */
    .card__section{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;
    }

    .choseUs__content h2{
        margin-bottom: 0px;
    }
    .choseUs__content p{
        max-width: 409px;
        margin-top: 0px;
    }
    .card i img{
        width: 48px;
        height: 48px;
        border-radius: 0;
    }

    /* video section */
    .video__container{
        flex-direction: column;
        margin-left: 10px;
    }

    .video__text__content{
        width: 100%;
    }

    .video__text__content li{
        margin-left: 5px;
    }
    .video__text__content button{
        margin-top: 20px;
    }

    video{
        width: 100%;
    }

    /* newsletter  */
    .news__discout__container{
        flex-direction: column;
        width: 100%;
    }

    .newsletter__content{
        width: 100%;
        margin: 20px auto;
    }

    .discount__content{
        width: 100%;
    }
    .discount__content img{
        width: 100%;
        height: 100%;
    }

    .footer__logo img{
        width: 30px;
        height: 30px;
    }

    .footer p{
        max-width: 287px;
    }
    .line{
        max-width: 335px;
    }
    
}