header {
    max-width: 1170px;
    margin: 0 auto;
}
.banner{
    max-width: 1170px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    /* background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png); */
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(./Images/Group\ 13\ \(1\)\ \(1\).png);
}

.banner h1{
    max-width: 596px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.banner p{
    max-width: 676px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.banner__input__container{
    width: 800px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    /* border: 25px solid rgba(255, 255, 255, 0.30); */
}

.banner__input{
    width: 25%;
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    border: none;
}

.banner__input__container button{
    width: 25%;
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #FF5400;
    color: white;
    border: none;


}


/* polular tour section */

.popular__tour__container{
    max-width: 1170px;
    margin: 100px auto;
    display: flex;
    gap: 20px;
}

.popular__tour__content{
    display: flex;
    
    flex-direction: column;
    gap: 24px;
}

.popular__tour__content h1{
    margin-bottom: 0;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.popular__tour__content li,p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.popular__tour__content button{
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
}
.popular__tour__content{
    width: 50%;
}

.popular__tour__container img{
    width: 50%;
}

/* destination section */

.destination__content{
    margin-bottom: 48px;
}

.destination__content h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination__content p{
    max-width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}


.destination__section{
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.img__58, .img__679, .img__1110{
    width: 100%;
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}


/* chose us section */

.choseUs__container{
    max-width: 1170px;
    margin: 20px auto;
}

.choseUs__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choseUs__content h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.choseUs__content p{
    max-width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

/* .card__section{
    display: grid;
	grid-template-columns: repeat( 2, 1fr );
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap: 24px;
    justify-content: center;
    justify-items: center;
} */

/* .card{
    grid-column: span 1;
    border: 2px solid red;
    padding: 32px 32px 55px 32px;
    border-radius: 16px;
}

.card:nth-last-child(1):nth-child(odd) {
	grid-column: 1 / span 2;
} */

.card__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.card {
    flex: 0 0 calc(50% - 24px);
    padding: 20px;
    margin: 10px;
    border-radius: 16px;
}
.card h2{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.card p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


*{
    box-sizing: border-box;
}

/* video section */
.video__container{
    max-width: 1170px;
    display: flex;
    margin: 20px auto;
    gap: 28px;
    justify-content: center;
    align-items: center;
}

.video__text__content h2{
    max-width: 438px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.video__text__content p{
    max-width: 532px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.video__text__content li{
    max-width: 518px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;

}

.video__text__content button{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    text-align: center;
    color: white;
    border: none;
    margin-top: 30px;
}

.video__text__content{
    width: 50%;
}

video{
    border-radius: 16px;
    width: 50%;
    height: 100%;
}

/* newsletter  */

.news__discout__container{
    max-width: 1170px;
    display: flex;
    gap: 24px;
    margin: 20px auto;
}

.newsletter__content{
    width: 40%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.discount__content{
    width: 60%;
}
.discount__content img{
    width: 100%;
}

.subs__input{
    max-width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.newsletter__content button{
    max-width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}
.newsletter__content P{
    max-width: 350PX;
    color: #5A5A5D;
    font-size: 16px;
    margin-top: 16px;
}

.newsletter__content h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0;
}

/* footer section  */

.footer{
    max-width: 1440px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__logo{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.footer p{
    max-width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.social__icon{
    width: 174.322px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.line{
    width: 872px;
    border: 1px solid rgba(19, 19, 24, 0.10);;
    margin: 50px 284px;
}


